* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.head {
    display: flex;
    justify-content: space-between;
    
}

body {
    background-color: #333333;
}

.container1 {
    display: flex;
    align-items: center;
}

.container1-1 {
    color: white;
}

.section1 {
    height: 100vh;
}

.bureau {
    transform: scale(0.6);
}

.echangeons {
    border: 1px solid white;
    text-align: center;
    background-color: #C3A995;
    height: 30px;
}

.bouton {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px ;
}

.container2 {
    display: flex;
    color: white;
}

.container2 > img {
    transform: scale(0.7);
}

.section2 {
    height: 100vh;
}

.section3 {
    height: 100vh;
    margin-top: 100px;
    width: 100%;
}

.title_s3 > h1 {
    text-align: center;
    font-size: 55px;
    color: white;
}

.pieuvre {
    transform: scale(0.8);
}

.container_s3 {
    display: flex;
    color: white;
    gap: 100px;
    margin: auto;
    width: 95%;
}

.text_s3 > h2 {
    margin-bottom: 20px;
}

.echangeons_s3 {
    width: 150px;
    margin: auto;
    margin-top: 90px;
    border: 1px solid white;
    text-align: center;
    background-color: #C3A995;
    height: 30px;
    align-items: center;
}

.bloc1_s4 {
    display: flex;
}

.container1_s4 {
    color: white;
}

.container1_s4 > p {
    width: 30%;
}

.section4 {
    display: flex;
    height: 100vh;
}

.image_s4 {
    transform: scale(0.7);
}

/* Style se6 */

.se6flex{
    color: #fff;
    display: flex;
    margin-top: 5%;
}
.se6h3{
    font-size: 55px;
    padding-bottom: 5%;
}
.se6p{
    font-size: 37px;
    text-align: justify;
    padding: 5% 0;

}
.se6b{
    color: #fff;
    font-size: 24px;
    padding: 2%;
    background-color: #C3A995;
    border: none;
    margin-top: 2%;
}
.se6gauche{
    margin-left: 5% ;
    width: 40%;
}
.se6droite{
    width: 35%;
    margin-left: 10%;
}
.se6img{
    max-width: 100%;
}
.se6bas{
    text-align: center;
}
.se6bas > p{
    font-size: 43px;
    color: #fff;
    text-align: center;
    width: 70%;
    margin: 5% 0 10% 15%;
}

/* Style se7 */
.se7nav {
    text-align: center;
}
.se7nav > img{
    width: 10%;
    margin: 3%;
}
.se7flex{
    color: #fff;
    display: flex;
    margin-top: 2%;
}
.se7h3{
    font-size: 55px;
    padding-bottom: 5%;
}
.se7p{
    font-size: 37px;
    text-align: justify;
    padding: 5% 0;
}
.se7gauche{
    margin-left: 5% ;
    width: 40%;
}
.se7droite{
    width: 35%;
    margin-left: 10%;
}
.se7img{
    max-width: 100%;
    max-height: 80vh;
}
/* Style se8 */
.se8{
    color: #fff;
    display: flex;
    margin-top: 10%;
}
.se8h3{
    font-size: 55px;
    padding-bottom: 5%;
}
.se8p{
    font-size: 37px;
    text-align: justify;
    padding: 5% 0;
}
.se8gauche{
    margin-left: 5%;
    max-width: 35%;
}
.se8img{
    max-width: 100%;
}
.se8droite{
    margin-left: 10% ;
    width: 40%;
}

/* Style du footer */

footer{
    margin-top: 10%;
    background-color: #fff;
    height: 100vh;
}
footer > h2 {
    font-size: 70px;
    text-align: center;
    padding: 1% 0;

}
.footp {
    padding: 2% 0;
    font-size: 37px;
    text-align: center;
}
.footnav{
    text-align: center;
}
.footb{
    width: 8%;
    height: 10vh;
    margin: 1%;
    border: 2px solid black;
}
.footbghover{
    background-color: #C3A995;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.footb > img{
    width: 80%;
    max-height: 80%;
}
.footb:hover{
    background-color: #C3A995;
}
.footparent{
    width: 100%;
    height: 10px;
}
.footdroits{
    text-align: right;
    font-size: 14px;
    font-weight: lighter;
}
.footimgcont{
    position: relative;
    left: -200px;
    top: -200px;
}
